<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0FCCDC72A8E6BE500D0384D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FCCDD72A8E6BE700D0384D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FCCDE12A8E6BE700D0384D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
